In [1]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [3]:
giri=df.drop("Survived",axis="columns")
target=df["Survived"]

In [4]:
target.head(4)

0    0
1    1
2    1
3    1
Name: Survived, dtype: int64

In [5]:
giri.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [24]:
giri.Age = giri.Age.fillna(giri.Age.mean())

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
giri1=LabelEncoder()

In [27]:
giri['gender']=giri1.fit_transform(giri['Sex'])

In [28]:
giri.head()

   Pclass     Sex   Age     Fare  gender
0       3    male  22.0   7.2500       1
1       1  female  38.0  71.2833       0
2       3  female  26.0   7.9250       0
3       1  female  35.0  53.1000       0
4       3    male  35.0   8.0500       1

In [29]:
srm=giri.drop(['Sex'],axis='columns')
srm.head(3)

   Pclass   Age     Fare  gender
0       3  22.0   7.2500       1
1       1  38.0  71.2833       0
2       3  26.0   7.9250       0

In [30]:
from sklearn import tree

In [31]:
model=tree.DecisionTreeClassifier()

In [32]:
from sklearn.model_selection import  train_test_split

In [33]:
x_train,x_test,y_train,y_test=train_test_split(srm,target,test_size=0.3)

In [34]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [35]:
model.score(x_test,y_test)

0.7574626865671642

In [36]:
model.predict([[3,22.0,7.2500,1]])

array([0], dtype=int64)